<section class="products container">
    <h2 id="products" class="products__title">Products</h2>
    <div class="products__list row">

        <article class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="img/baby-yoda.svg" class="card-img-top" alt="Baby Yoda">
            <div class="card-body">
                <h5 class="card-title">Baby Yoda</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro fuga autem possimus
                    eveniet facere, non minus magnam obcaecati, tenetur recusandae, corporis itaque suscipit. Vero illo
                    nulla asperiores laudantium tempore porro!</p>
                <a href="#" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#product-info-modal">Info</a>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </article>

        <article class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="img/banana.svg" class="card-img-top" alt="Banana">
            <div class="card-body">
                <h5 class="card-title">Banana</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro
                    fuga autem possimus eveniet facere, non minus magnam obcaecati,
                    tenetur recusandae, corporis itaque suscipit. Vero illo nulla
                    asperiores laudantium tempore porro!
                </p>
                <a href="#" class="btn btn-info">Info</a>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </article>

        <article class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="img/girl.svg" class="card-img-top" alt="Girl">
            <div class="card-body">
                <h5 class="card-title">Girl</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro
                    fuga autem possimus eveniet facere, non minus magnam obcaecati,
                    tenetur recusandae, corporis itaque suscipit. Vero illo nulla
                    asperiores laudantium tempore porro!
                </p>
                <a href="#" class="btn btn-info">Info</a>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </article>

        <article class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="img/viking.svg" class="card-img-top" alt="Viking">
            <div class="card-body">
                <h5 class="card-title viking">Viking</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro
                    fuga autem possimus eveniet facere, non minus magnam obcaecati,
                    tenetur recusandae, corporis itaque suscipit. Vero illo nulla
                    asperiores laudantium tempore porro!
                </p>
                <a href="#" class="btn btn-info">Info</a>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </article>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="product-info-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="product-info-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="product-info-modalLabel">Baby Yoda</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="img/baby-yoda.svg" alt="Baby Yoda">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>